<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.library.admin.mapper.UserMapper">

    <!--    사용자 아이디에 따른 회원 정보 조회-->
    <insert id="save" parameterType="com.library.admin.model.dto.UserDTO" >
        insert into book_user(user_id, user_pass, user_phone_number ) values (#{user_id}, #{user_pass}, #{user_phone_number})
    </insert>

</mapper>